@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'DM Serif Display', 'Montserrat', 'Quattrocento', 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, rgb(17, 6, 6), rgb(23, 29, 57));
  color: white;
}
/* rgb(32, 40, 74) */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Footer{
  margin-top: auto;
  bottom: 0;
}

.App{
  margin: 0px;
  padding: 0px;
  /* background-image: linear-gradient(to bottom right, rgb(17, 6, 6), rgb(32, 40, 74)); */
  min-height: 100vh;
  /* color: white; */
  text-align: center;
  /* font-family: 'roboto', sans; */
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.Nav{
  background-color: transparent;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  width: 100%;
  padding: 0px 30px;
  /* margin-bottom: 20px; */
  height: 70px;
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(black, transparent);
}

.Navitems{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  height: 100%;
  padding-right: 8px;
}

.navpages{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 35%;
  padding: 0;
  /* gap: 10px; */
}

.navpages > li > a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  /* transition: text-decoration 1000ms ease-in-out; */
}

.navpages > li > a:hover{ 
  /* text-decoration: underline; */
color: #f39a9a;}

.logo{
  height: 40px;
}

.Input{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.712);
  border-radius: 20px;
  padding: 10px 10px;
  margin: 20px 5px;
  color: white;
}
.Input:focus{
  outline: none;
  border: 1px solid #f39a9a;
}
.Submit{
  background-color: transparent;
  border: 1px solid  rgba(255, 255, 255, 0.712);
  border-radius: 20px;
  padding: 10px 15px;
  margin: 5px 5px;
  color: white;
  cursor: pointer;
}
a{text-decoration: none; color: #f39a9a;}

.bannerdiv{
  height: 100vh;
  width: 100%;
  position: relative;
  background: cover;
}
.bannertext{
  position: absolute;
  bottom: 8vh;
  width: 100%;
  font-size: 48px;
  text-shadow: 0 0 8px #000000;
  /* font-family: "Quattrocento", serif; */
  font-family: "DM Serif Display", serif;
  /* font-family: "Yeseva One", serif; */
}

.banner{
  height: 100%;
  width: 100%;
  opacity: 100%;
  object-fit:cover;
  -webkit-mask-image: linear-gradient( rgb(0 0 0/1), rgb(0 0 0/ 0.5) 70%, rgb(0 0 0/ 0.2) 85%, rgb(0 0 0/ 0) 98%); 
  /* mask-image: radial-gradient( rgb(0 0 0/1) 40%, rgb(0 0 0/ 0.5) 55%, rgb(0 0 0/ 0) 70%); */
  /* mask-image: radial-gradient(closest-side, rgb(0 0 0/1), rgb(0 0 0/ 0.5) 40%, rgb(0 0 0/ 0) 70%); */
  mask-image: linear-gradient( rgb(0 0 0/0) 0%, rgb(0 0 0/1), rgb(0 0 0/ 0.5) 70%, rgb(0 0 0/ 0.2) 85%, rgb(0 0 0/ 0) 98%); 
  /* box-shadow: 0 0 20px rgba(0,0,0,0.1), 0 0 40px rgba(0,0,0,0.1), 0 0 60px rgba(0,0,0,0.1), 0 0 80px rgba(0,0,0,0.1); */
}

/* .bannerMobile{
  display: none;
  height: 100%;
  width: 100%;
  opacity: 100%;
  object-fit:cover;
  -webkit-mask-image: linear-gradient( rgb(0 0 0/1), rgb(0 0 0/ 0.5) 70%, rgb(0 0 0/ 0.2) 85%, rgb(0 0 0/ 0) 98%); 
  mask-image: linear-gradient( rgb(0 0 0/1), rgb(0 0 0/ 0.5) 70%, rgb(0 0 0/ 0.2) 85%, rgb(0 0 0/ 0) 98%); 
  } */

.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.trending_heading{
  font-size: 32px;
  font-family: 'Montserrat', sans;
  font-weight: 200;
  font-style: normal;
  color: #f39a9a;
  text-shadow: 0 0 8px #000000;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  gap: 10px ;
  margin: 20px 20px;
  justify-content: center;
  max-width: 900px;
}

.post{
  /* border: 5px solid black; */
  /* background-color: bisque; */
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 240px;
  border-radius: 8px;
  width: 160px;
}

.movieposter{
  height: 240px;
  width: 160px;
  border-radius: 8px;
  border: 1.5px solid transparent;
  object-fit: cover;
}
.movieposter:hover{
  border: 1.5px solid #f39a9a;
  
}

.DisplayPost{
  display: flex;
  justify-content: space-around;
  gap: 48px;
  margin: 130px 20px 50px;
  max-width: 950px;
  text-align: left;
  /* flex-wrap: wrap; */
}

.MainPoster{position: sticky;}
.movieImg{
  height: 400px;
  /* width: 128px; */
  border-radius: 8px;
  border: 1.5px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
cursor: pointer;
}

.AboutMovie{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movieInfo{
  display: flex;
  gap: 10px;
  align-items: baseline;
  flex-wrap: wrap;
}
.movieTitle{ font-family: 'DM Serif Display'; font-size: 36px;}

.directors{
  display: flex;
  gap: 5px;
  font-weight: 200;
}
.directors>p{margin: 0;}

.movieAllinfo{
  display: flex;
  gap: 48px;
}

.moviePlot{font-family: "Quattrocento", serif;}

.CastGenre{
  font-weight: 200;
}
.CastGenre>div{ margin: 5px 0;}

.castname, .genrename{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px;
  border-radius: 5px;
  margin-top: 6px;
  margin-right: 6px;
  background-color: #ffffff15;
  width: max-content;
}

.TabPanel{
  padding: 0;
}
/* p{margin: 0;} */
/* F39A9A */
/* 0D1925 */


.signup{
  margin-top: 40vh;
  /* align-items: center; */
}

.Login{
  margin-top: 40vh;
  /* align-items: center; */
justify-self: center;
}

.SearchList{
  margin-top: 130px;
}

.searchres{
  display: flex;
  width: 800px;
  padding: 10px 10px;
  background-color: #ffffff15;
  margin: 10px 10px;
  cursor: pointer;
}
.searchposter{
  height: 100px;
  margin: 10px 10px;
}
.searchinfo{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.searchtitle{
  font-size: 32px;
  font-family: "DM Serif Display";
}

/* @media(orientation:potrait){
  .banner{display: none;}
  .bannerMobile{display: block;}
} */

.Films{
  margin-top: 130px;
}