<nav class="navbar">
        <div class="pc_nav">
            <div><a href="/rankings">
              <img class="logo_nav" src="../utils/Logo_text_white.png" alt="logo">
            </a></div>

            <div class="hide_on_mobile nav_btn"> 
              <a class="nav_anchor" href="/teams">teams</a>
            </div>
            <div class="hide_on_mobile nav_btn"> 
              <a class="nav_anchor" href="/rankings"> rankings</a>
            </div>
            <div class="hide_on_mobile nav_btn"> 
              <a class="nav_anchor" href="/services"> services</a>
              </div>
            <div class="hide_on_mobile nav_btn"> 
              <a class="nav_anchor" href="/about"> about</a>
            </div>
            <div class="hide_on_mobile nav_btn"> 
              <a class="nav_anchor" href="/news"> news </a>
            </div>
            <div class="hide_on_mobile nav_btn"> 
              <a class="nav_anchor" href="/shop"> shop</a>
            </div>

            <div class="burger_icon"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" fill="white"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"></svg></div>
        </div>           

         <div class="mobile_nav"> 
                
                <div class="close_icon" ><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" fill="black"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>

                <div><a class="nav_anchor_mobile" href="/teams">teams</a></div>
                <div><a class="nav_anchor_mobile" href="/rankings">rankings</a></div>
                <div><a class="nav_anchor_mobile" href="/services">services</a></div>
                <div><a class="nav_anchor_mobile" href="/about">about</a></div>
                <div><a class="nav_anchor_mobile" href="/news">news</a></div>
                <div><a class="nav_anchor_mobile" href="/shop">shop</a></div>


          </div> 

    </nav>